<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="java.time.LocalDateTime" alias="LocalDateTime"/>
        <typeAlias type="java.time.LocalDate"     alias="LocalDate"/>
        <typeAlias type="java.time.LocalTime"     alias="LocalTime"/>
        <typeAlias type="java.util.Date"          alias="Date"/>
    </typeAliases>

    <typeHandlers>
    </typeHandlers>

    <environments default="production">
        <environment id="production">
            <transactionManager type="MANAGED"/>
            <dataSource type="POOLED"/>
        </environment>

        <environment id="test">
            <transactionManager type="MANAGED">
                <property name="closeConnection" value="false"/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="autoCommit" value="false"/>
            </dataSource>
        </environment>
    </environments>

</configuration>

